*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

:root{
  --bg-color: white;
  --header-bg: #021338;
  --sticky-header: #0236A6;
}

p,
span,
a{
  color: var(--bg-color);
}

a{
  text-decoration: none;
}

a.sticky-home{
  display: none;
}

div.introduction-child,
div.sticky-container,
div.about-child{
  width: 65%;
}

header.sticky,
section.introduction,
section.about,
section.service{
  display: flex;
  justify-content: center;
  align-items: center;
}


div.header-socials > a,
div.introduction-details a,
div.top-about-description a,
div.service-child > a{
  z-index: 1;
  transition: all 0.5s;
  color: var(--header-bg);
  text-transform: none;
  padding: 12px 28px 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  display: inline-block;
  position: relative;
  background: #F3CB5F;
  overflow: hidden;
  border-radius: 100px;
}

div.container{
  min-height: 1000vh;
  min-width: 350px;
  display: block;
  background: whitesmoke;
  position: relative;
}

header:first-of-type{
  width: 100%;
  background: var(--header-bg);
}


header  img{
  filter: invert(95%) sepia(29%) saturate(6578%) hue-rotate(314deg) brightness(106%) contrast(91%);;
}

div.header{
  width: 90%;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.home-button{
  display: flex;
  align-items: center;
  width: auto;
}
div.home-button a{
  display: flex;
  gap: 10px;
  align-items: center;
}
div.home-button img{
  filter: none !important;
  outline: none;
  border: none;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

div.home-button span{
  font-size: 18px;
}

nav.scroll-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

a.scroll-link{
  display: grid;
  gap: 6px;
  padding: 0 15px;
}

a.scroll-link:nth-last-child(2){
  outline: none;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0 30px;
}

a.scroll-link div{
  display: flex;
  align-items: center;
  gap: 7px;
}

a.scroll-link span{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  line-height: normal;
}

p.scroll-text{
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  text-transform: none;
}

div.header-socials{
  display: flex;
  align-items: center;
  gap: 10px;
}

div.header-social-images{
  display: flex;
  gap: 10px;
}

div.header-social-images a:hover{
  filter: brightness(0) saturate(100%) invert(99%) sepia(33%) saturate(0%) hue-rotate(350deg) brightness(113%) contrast(100%);
}

button.hamburger{
  display: none;
  background: lightcyan;
  padding: 10px;
  position: absolute;
  top: 1.6rem;
  right: 1rem;
  outline: none;
  border: none;
  height: 45px;
  width: 60px;
  justify-content: flex-end;
  border-radius: 5px;
  cursor: pointer;
}
span.hamburger-child{
  display: block;
  width: 100%;
  height: 2px;
  background: #000000;
  position: relative;
  border: none;
  outline: none;
  margin-top: 2px;
}

span.hamburger-child::before{
  content: '';
  position: absolute;
  top: 9px;
  width: 35px;
  height: 2px;
  right: 0;
  background: #000000;
  border: none;
  outline: none;
}

span.hamburger-child::after{
  content: '';
  position: absolute;
  bottom: -18px;
  width: 30px;
  height: 2px;
  right: 0;
  background: #000000;
  border: none;
  outline: none;
}


header.sticky{
  position: sticky;
  top: .5rem;
  margin-top: -1.3rem;
  background: none;
  width: 100%;
  z-index: 100;
  padding: 10px;
}

div.sticky-container{
  background: var(--sticky-header);
  padding: 25px;
  border-radius: 10px;
  outline: none;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav.sticky-nav{
  display: flex;
  justify-content: space-between;
  width: 50%;
  gap: 10px;
}

nav.sticky-nav a{
  font-weight: 600;
  font-size: 19px;
 ;
}
nav.sticky-nav a:hover{
  color: #F3CB5F;
}

div.nav-search{
  width: auto;
  position: relative;
}

div.nav-search input::placeholder,
div.nav-search input{
  color: white;
  font-size: 15px;
}
div.nav-search input:active{
  background: none;
}

div.nav-search input{
  border: none;
  border-bottom: 1px solid lightblue;
  outline: none;
  padding: 10px 20px;
  padding-left: 0;
  background: none;
  width: 100%;
}

div.nav-search button{
  position: absolute;
  background: none;
  outline: none;
  border: none;
  right: 10px;
  top: 10px;
  cursor: pointer;
  z-index: 1000;
}
div.nav-search button img{
  filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(12%) hue-rotate(109deg) brightness(106%) contrast(106%);
}

section.introduction{
  padding: 100px 0;
  background: url('https://4damstheme.com/html/clenis-demo/assets/images/banner/banner1.png') no-repeat;
  background-size: contain;
}

div.introduction-details{
  display: grid;
  gap: 40px;
  grid-template-columns: auto;
  margin-bottom: 40px;
}

div.introduction-details a{
  text-transform: capitalize;
  background: #F3CB5F;
  width: fit-content;
}

div.introduction-details h1{
  font-size: 80px;
  text-transform: capitalize;
  color: white;
}
div.introduction-details p{
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
  line-height: 1.5;
}
span.introduction-header{
  color: transparent;
  position: relative;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #F3CB5F;
  transition: all 0.5s;
}

span.introduction-header::before{
  position: absolute;
  width: 100%;
  height: 100%;
  content: attr(data-text);
  color: #F3CB5F;
  width: 0px;
  overflow: hidden;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--subtitle);
}



div.introduction-cards{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px 0;
  margin-top: 50px;
  justify-content: space-between;
}

article.introduction-offer{
  display: grid;
  width: calc(90% / 3);
  gap: 18px;
  padding: 40px 55px;
  outline: none;
  border: none;
  background: #F0F8FF;
  border-radius: 35px;
}
div.offer-heading{
  display: flex;
  gap: 25px;
  align-items: center;
}
div.offer-heading-image{
  border-radius: 50%;
  background: white;
  width: 15px;
  height: 15px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.offer-heading-image img{
  filter: invert(17%) sepia(69%) saturate(2854%) hue-rotate(214deg) brightness(94%) contrast(114%);
}

div.offer-title{
  display: grid;
  gap: 3px;
}
div.offer-title p,
div.offer-title h2,
article.introduction-offer a{
  text-transform: capitalize;
  color: var(--header-bg);
  font-weight: 900;
}
div.offer-title p,
article.introduction-offer > p{
  color: #748AA0;
  font-weight: 500;
  line-height: 1.8;
}
div.hr{
  width: 100%;
  border-bottom: 1px solid #748AA0;
  opacity: 0.4;
}
article.introduction-offer a{
  font-weight: 500;
  transition: all 0.4s;
}

section.about{
  background: rgba(140, 191, 235, .2);
  position: relative;
  margin-bottom: 50px;
}
section.about::before{
  content: '';
  position: absolute;
  height: 100px;
  width: 100%;
  top: -100px;
  z-index: 0;
  background: rgba(140, 191, 235, .2);
}

div.about-child{
  background: transparent;
  position: relative;
}
div.about-child::before{
  content: '';
  background: var(--sticky-header);
  height: 440px;
  width: 100%;
  position: absolute;
  top: -60px;
  border-radius: 40px;
}
div.about-grand-child{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
div.about-description{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 49%;
}

div.top-about-description{
  display: inherit;
  flex-direction: inherit;
  gap: 30px;
  text-transform: capitalize;
}
div.top-about-description a{
  max-width: fit-content;
  text-transform: capitalize;
  background: rgba(243, 203, 95, 0.1);
  color: #F3CB5F;
}
div.top-about-description p{
  font-size: 50px;
  line-height: 120%;
  font-weight: 500;
  z-index: 2;
}

div.top-about-description span{
  color : rgba(255, 255, 255, 0.75);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  font-family: "DM Sans", sans-serif;
  z-index: 2;
}

div.bottom-about-description{
  margin-top: 50px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

article.about-details{
  display: grid;
  gap: 10px;
}

div.top-details{
  display: flex;
  align-items: center;
  color: var(--header-bg);
  gap: 10px;
}

div.top-details img{
  filter: brightness(0) saturate(100%) invert(13%) sepia(82%) saturate(4112%) hue-rotate(222deg) brightness(87%) contrast(101%);
}

article.about-details p{
  color: #748AA0;
  line-height: 28px;
  width: 100%;
}

div.about-img{
  width: 47%;
  z-index: 2;
}
div.about-img img{
  width: 100%;
}

div.service-child{
  background: #F0F8FF;;
  width: 100%;
  padding: 100px 0;
  display: grid;
  justify-items: center;
  gap: 40px;
}

div.service-child > a:last-child{
  max-width: fit-content;
  text-transform: capitalize;
  background: var(--sticky-header);
  color: white;
}

div.service-child > p{
  color: var(--sticky-header);
  opacity: .8;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

div.article-cards{
  display: flex;
  gap: 30px;
  width: 100%;
  overflow: scroll;
  padding: 0 10px;
  scrollbar-width: none;
  margin: 40px auto;
}

article.service-card{
  display: grid;
  gap: 18px;
  width: 80%;
  padding: 10px;
}

div.article-img:hover > div.absolute-img{
  background: var(--sticky-header);
}

div.article-img:hover > div.absolute-img > img{
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(274deg) brightness(100%) contrast(99%);
}

div.article-img{
  position: relative;
}
div.absolute-img{
  position: absolute;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  padding: 10px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 1.5rem;
  bottom: 1.5rem;
  cursor: pointer;
}

div.absolute-img img{
  width: 100%;
  filter: brightness(0) saturate(100%) invert(10%) sepia(69%) saturate(5162%) hue-rotate(221deg) brightness(111%) contrast(99%);
}


article.service-card a{
  color: var(--header-bg);
  font-size: 23px;
  font-weight: 600;
}

article.service-card p{
  color: #748AA0;
  font-size: 14px;
  line-height: 1.7;
}

@media screen and (max-width: 1500px){

  div.header-socials {
    width: 30%;
  }

  div.header-socials > a{
  width: 100%;
  padding: 12px;
  line-height: 22px;
  border-radius: 80px;
}

  div.introduction-child,
  div.sticky-container,
  div.about-child
   {
    width: 80%;
  }
  article.introduction-offer {
    padding: 40px 28px;
  }

  div.introduction-details a{
    padding: 12px 28px 15px;
    font-size: 14px;
    line-height: 24px;
    border-radius: 80px;
  }

  div.about-description{
    gap: 30px;
  }

  div.service-child > p{
    font-size: 40px;
    font-weight: 600;
  }
  
}

@media screen and (max-width: 1300px) {
  div.sticky-container,
  div.introduction-child,
  div.about-child{
    width: 100%;
    padding: 20px;
  }


  div.about-child::before{
    width: 98%;
  }

  section.introduction {
    padding: 70px 0;
    background-size: 100% 70%;
  }

  div.introduction-details {
    gap: 30px;
    margin-bottom: 30px;
  }

  div.introduction-details h1 {
    font-size: 60px;
  }

  div.introduction-cards{
    gap: 30px;
    padding: 20px 0;
    margin-top: 30px;
  }
  
  article.introduction-offer{
    width: 100%;
    gap: 18px;
    padding: 25px;
    border-radius: 15px;
  }

  div.bottom-about-description {
    margin-top: 0;
    gap: 20px;
  }

  div.about-img{
    height: 550px;
  }

  div.about-img img{
    height: 100%;
  }

}

@media screen and (max-width: 999px) {
  div.container{
    min-height: auto;
  }

  header:first-of-type{
    display: none;
  }

  button.hamburger{
    display: flex;
    align-items: flex-start;
    z-index: 1000;
  }

  header.sticky{
    position: sticky;
    top: 0;
    background: var(--sticky-header);
    height: 100px;
    margin-top: 0;
  }
  a.sticky-home{
    position: absolute;
    left: 1rem;
    z-index: 100;
    font-size: 19px;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  a.sticky-home img{
    filter: none !important;
    outline: none;
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  a.sticky-home span{
    font-size: 18px;
  }

  div.sticky-container{
   display: none; 
  }
  div.sticky-containers-hamburger{
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 30px;
    border-radius: 0;
    top: 18px;
  }

  nav.sticky-nav{
    flex-direction: column;
    width: 100%;
    gap: 20px;
    align-items: center;
    padding: 30px 0;
  }

  div.nav-search{
    width: 80%;
  }

  section.introduction {
    padding: 40px 0;
    background-size: cover;
  }

  div.introduction-details h1 {
    font-size: 40px;
  }

  div.introduction-details {
    gap: 20px;
    margin-bottom: 20px;
  }

  div.introduction-details p {
    width: 90%;
    font-size: 22px;
    line-height: 1.2;
  }

  div.introduction-child{
    width: 100%;
    padding: 20px;
  }
  div.about-child{
    padding: 10px;
  }

  div.about-child::before ,
  section.about::before {
    content: none;
  }
  
  div.top-about-description{
    gap: 15px;
  }

  div.top-about-description a{
    background: var(--sticky-header);
    color: white;
  }
  div.top-about-description p{
    font-size: 30px;
    line-height: 1.3;
    font-weight: 600;
    color: black;
  }

  div.top-about-description span{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #545252 !important;
  }

  div.about-img{
    display: none;
  }

  div.about-description {
    width: 100%;
  }

  div.service-child > p{
    font-size: 30px;
  }

   div.article-cards{
    gap: 90px;
  }
  
  article.service-card{
    width: 100%;
  } 
}

/* For galaxy z-fold */
@media screen and (max-width: 288px) {
  div.bottom-about-description {
    grid-template-columns: 1fr;
  }
}